
/**colores a usar **/

$blanco: #ffffff;
$negro: #000000;
$gris-oscuro: #636363;
$gris-claro: #c7c7c7;
$rojo: #e21c21;
$c-header: #d9dbd7;

/**font titulo**/

$font-titulo: 'Roboto' , sans-serif;

/*Font textos blancos*/
$atalata: 'Atalata', sans-serif;
$textos-alt: 'Open Sans condensed', sans-serif;

/**Web original**/
h2 {
	color: $rojo;
	text-align: left;
	font-family: $atalata;
	font-size: 200%;
	font-weight:bold;
	text-transform: uppercase;
	letter-spacing: 5px;
	word-spacing: 15px;
	border-bottom: solid 2px $rojo;
	display: inline-block;
	margin: 15px;
}	

body {
	background-color: $gris-oscuro;
}

/**Nav inicio**/

header {
	background: $c-header ;
	width: 100%;
	height: auto;
	right: 0px;
	top: 0px;
	left: 0px;
}

.width-one {
	width: 100%;
	margin:auto;
}

.logo {
height: 90px;
width: auto;
margin: 10px 0px 0px 80px;
display: inline-block;
}

.nav .ul-header {
	display: flex;
	flex-direction: row;
	margin: 10px;
	padding: 5px;
	align-items: center;
}

.nav .ul-header li a {
	margin: 2px;
	color: $blanco;
	font-family: $atalata;
	text-transform: uppercase;
}

ul {
	list-style: none;
}

.busqueda {
	list-style-type: none;
	margin: 2px;
	padding: 2px;
	display: inline-block;
	text-transform: uppercase;
}

/**Nv final**/



/**clientes inicio**/

.clientes {
	background-color: $gris-oscuro;
}

.marca-clientes {
	max-width: 200px;
	height: auto;
	margin: 0px 10px;
}


/**clientes final**/

/**servicios inicio**/

.servicios {
	background-color: $gris-claro;
}

.listado {
	display: flex;
}

table{
	border: none;
	width: 100%;
	text-align: center;

}

tr {
	margin: 10px;
}

th {
	height: 20px;
	text-transform: uppercase;
	color: $negro;
	font-size: 100%;
	text-align: center;
	font-family: $atalata;
	font-family: $textos-alt;
	font-size: 200%;
	letter-spacing: 5px;
	word-spacing: 8px;
	padding: 15px;
}

/**servicios final**/


/**quienessomos final**/
.texto-blanco {
	color: $blanco;
	text-align: center;
	font-family: $atalata;
	font-family: $textos-alt;
	font-size: 100%;
	letter-spacing: 5px;
	word-spacing: 8px;
}

.texto-marca {
	color: $blanco;
	text-align: center;
	font-family: $atalata;
	font-family: $textos-alt;
	font-size: 200%;
	letter-spacing: 5px;
	word-spacing: 8px;	
	margin: 10px 0px 0px 0px;
}

.cards-q {
	display: flex;
	flex-direction: column;
}

.cards {
	width: 180px;
	height: 220px;
	background-color: $gris-claro;
	margin: 10px;
}

.card-img {
	width: 170px;
	height: 170px;
}
/**quienessomos final**/

/**contacto inicio**/

.section-nosotros {
	background-color: $gris-claro;
}

#contacto {
	display: grid;
	grid-template-areas: 
	"info escuchar mapa"
	"info escuchar mapa";
	grid-template-columns: 400px 400px;
	grid-template-rows: 100px 200px;
	justify-content: center;
}


form {
	grid-area: info;
}

ul {
	grid-area: escuchar;
}

iframe {
	grid-area: mapa;
}

.table-contacto {
	border: none;
	width: 300px;
	text-align: left;

}

.tr-contacto {
	margin: 1px;
	padding: 1px;
}

.th-contacto {
	height: 20px;
	text-transform: uppercase;
	color: $negro;
	font-size: 100%;
	text-align: center;
	font-family: $atalata;
	font-family: $textos-alt;
	font-size: 100%;
	letter-spacing: 5px;
	word-spacing: 8px;
	margin: 1px;
	padding: 1px;
}

.division-contacto {
	padding: 20px;
}

/**contacto final**/

/**footer inicio**/

.div-footer {
	position: absolute;
	background: $gris-oscuro;
	color: $blanco;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 15px;
}

.imagen-redes {
	width: 30px;
	height: 30px;
}

@media  (min-width:500px) and  (max-width: 767.98px) {
	.responsive-nav {
		display: flex;
		flex-direction: column;
	}
}

@media (min-width:769px) {
	.responsive-nav-l {
		display: flex;
		flex-direction: row;
		justify-content:space-between;

	}
	.responsive-clientes-l {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}
}
/**media clientes**/
@media (min-width:1084px) {
	.div-clientes {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

@media (min-width:767px) {
	.responsive-trabajos {
		font-size: 50%;
	}
}

@media (min-width:1280px) {
	.responsive-cards {
		display: flex;
		flex-direction: row;
	}
}

@media (min-width:500px) {
	.responsive-cards {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

/**footer final**/